# Dictionaries

## What is a Dictionary?

A dictionary in Python is a collection of key-value pairs. Each key is unique and is used to access its corresponding value. Dictionaries are mutable, meaning you can change them after they are created.

## Why Use Dictionaries?

Dictionaries are incredibly useful for several reasons:

1. **Fast Lookups**: Dictionaries provide an efficient way to retrieve values based on their keys. This makes them ideal for scenarios where you need to perform quick lookups.

2. **Organized Data**: They help in organizing data in a structured way. For example, you can use dictionaries to store information about a person, such as their name, age, and address.

3. **Flexibility**: Dictionaries can store a variety of data types, including strings, integers, lists, and even other dictionaries. This makes them versatile for different kinds of applications.

4. **Readable Code**: Using dictionaries can make your code more readable and easier to understand, especially when dealing with complex data structures.

In [6]:
# Creating a simple dictionary
simple_dict = {
    "age": 30,
    "name": "Alice",
    
    "city": "New York"
}

# Display the dictionary
simple_dict

{'age': 30, 'name': 'Alice', 'city': 'New York'}

In [7]:
# Accessing values in the dictionary
name = simple_dict["name"]
age = simple_dict["age"]
city = simple_dict["city"]

In [8]:
# Display the accessed values
print(name)
print(age)
print(city)

Alice
30
New York

In [13]:
# Adding a new key-value pair to the dictionary
simple_dict["occupation"] = "Developer"

# Display the updated dictionary
simple_dict

{'age': 30, 'name': 'Alice', 'city': 'New York', 'occupation': 'Developer'}

In [15]:
# Updating an existing value in the dictionary
simple_dict["age"] = 31

# Display the updated dictionary
simple_dict

{'age': 31, 'name': 'Alice', 'city': 'New York', 'occupation': 'Developer'}

In [17]:
# Removing a key-value pair from the dictionary
del simple_dict["city"]

# Display the updated dictionary
simple_dict

KeyError: 'city'

In [18]:
# Using the `get` method to access a value
occupation = simple_dict.get("occupation", "Not specified")

# Display the accessed value
occupation

'Developer'

In [21]:
# Using the `get` method to access a value
occupation = simple_dict.get("salary", "Not specified")

# Display the accessed value
occupation

'Not specified'

In [25]:
# Using the `keys` method to get all keys in the dictionary
keys = simple_dict.keys()

# Display the keys
keys

dict_keys(['age', 'name', 'occupation'])

In [26]:
# Using the `values` method to get all values in the dictionary
values = simple_dict.values()

# Display the values
values

dict_values([31, 'Alice', 'Developer'])

In [27]:
# Using the `items` method to get all key-value pairs in the dictionary
items = simple_dict.items()

# Display the items
items

dict_items([('age', 31), ('name', 'Alice'), ('occupation', 'Developer')])

# Accessing Dictionary Items
Demonstrate how to access items in a dictionary using keys.

In [30]:
# Accessing Dictionary Items
# Creating a simple dictionary
simple_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Accessing values in the dictionary using keys
name = simple_dict["name"]
age = simple_dict["age"]
city = simple_dict.get("city", "Not specified")  # Using get method to handle missing keys
salary = simple_dict.get("salary", "Not specified")  # Using get method to handle missing keys

# Display the accessed values
name, age, city, salary

('Alice', 30, 'New York', 'Not specified')

In [31]:
simple_dict["salary"]

KeyError: 'salary'

In [32]:
# Accessing a value that does not exist using the get method with a default value
country = simple_dict.get("country", "Unknown")

# Display the accessed value
country

'Unknown'

# Adding and Updating Dictionary Items
Show how to add new items to a dictionary and update existing items.

In [36]:
# Adding a new key-value pair to the dictionary
simple_dict["county"] = "Albany"

# Display the updated dictionary
simple_dict

{'name': 'Alice',
 'age': 30,
 'city': 'New York',
 'country': 'Mexico',
 'county': 'Albany'}

# Removing Dictionary Items
Explain and demonstrate how to remove items from a dictionary.

In [37]:
# Updating an existing value in the dictionary
simple_dict["name"] = "Bob"

# Display the updated dictionary
simple_dict

{'name': 'Bob',
 'age': 30,
 'city': 'New York',
 'country': 'Mexico',
 'county': 'Albany'}

In [38]:
# Reinitialize the dictionary
simple_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "country": "USA",
    "occupation": "Engineer"
}




# Clearing all items from the dictionary using the `clear` method
simple_dict.clear()

# Display the cleared dictionary
simple_dict

{}

In [39]:
# Reinitialize the dictionary
simple_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "country": "USA",
    "occupation": "Engineer"
}

print(simple_dict)
# Removing a key-value pair using the `pop` method
removed_value = simple_dict.pop("occupation", "Not Found")

# Display the removed value
print(removed_value)
# Display the updated dictionary
simple_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA', 'occupation': 'Engineer'}
Engineer

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [43]:
# Reinitialize the dictionary
simple_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "country": "USA",
    "occupation": "Engineer"
}

In [44]:
# Removing the last inserted key-value pair using the `popitem` method
last_item = simple_dict.popitem()

# Display the removed item
print(last_item)

# Display the updated dictionary
simple_dict

('occupation', 'Engineer')

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [46]:
simple_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "country": "USA",
    "occupation": "Engineer"
}

simple_dict

{'name': 'Alice',
 'age': 30,
 'city': 'New York',
 'country': 'USA',
 'occupation': 'Engineer'}

In [47]:
# Removing a key-value pair using the `del` statement
del simple_dict["country"]

# Display the updated dictionary
simple_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

# Looping Through Dictionaries
Demonstrate how to loop through dictionaries using for loops.

In [50]:
# Looping through dictionaries using a for loop

# Recreate the dictionary for demonstration purposes
simple_dict = {
    "name": "Joe",
    "age": 30,
    "city": "New York"
}

# Loop through the dictionary keys
for a in simple_dict:
    print(a)

name
age
city

In [52]:
for key in simple_dict:
    print(simple_dict[key])

Joe
30
New York

In [53]:
# Loop through the dictionary values
for value in simple_dict.values():
    print(value)

Joe
30
New York

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

In [ ]:
# Loop through the dictionary items (key-value pairs)
for key, value in simple_dict.items():
    print(f"{key}: {value}")

name: Joe
age: 30
city: New York

In [56]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
     print(k, v)

gallahad the pure
robin the brave

# Dictionary Methods
Show common dictionary methods such as keys(), values(), items(), get(), and clear().

When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.

In [ ]:
# Using the `keys` method to get all keys in the dictionary
keys = simple_dict.keys()

# Display the keys
keys

# Using the `values` method to get all values in the dictionary
values = simple_dict.values()

# Display the values
values

# Using the `items` method to get all key-value pairs in the dictionary
items = simple_dict.items()

# Display the items
items

# Using the `get` method to access a value
occupation = simple_dict.get("occupation", "Not specified")

# Display the accessed value
occupation

# Using the `clear` method to remove all items from the dictionary
simple_dict.clear()

# Display the cleared dictionary
simple_dict

In [59]:
list(simple_dict)

['name', 'age', 'city']

In [60]:
sorted(simple_dict)

['age', 'city', 'name']

In [61]:
'city' in simple_dict

True

In [ ]:
'continent' not in simple_dict

False

# Nested Dictionaries
Explain and demonstrate the creation and usage of nested dictionaries.

In [65]:
# Nested Dictionaries

# Creating a nested dictionary
nested_dict = {
    "person1": {
        "name": "Alice",
        "age": 30,
        "city": "New York"
    },
    "person2": {
        "name": "Bob",
        "age": 25,
        "city": "Los Angeles"
    }
}

# Display the nested dictionary
nested_dict

{'person1': {'name': 'Alice', 'age': 30, 'city': 'New York'},
 'person2': {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}}

In [ ]:
# Accessing values in a nested dictionary
person1_name = nested_dict["person1"]["name"]
person2_city = nested_dict["person2"]["city"]

# Display the accessed values
person1_name, person2_city

# Adding a new nested dictionary

In [67]:
nested_dict["person3"] = {
    "name": "Charlie",
    "age": 35,
    "city": "Chicago"
}

# Display the updated nested dictionary
nested_dict

{'person1': {'name': 'Alice', 'age': 30, 'city': 'New York'},
 'person2': {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
 'person3': {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}}

In [69]:
nested_dict["person1"]["age"]

30

In [70]:
# Updating an existing value in a nested dictionary
nested_dict["person1"]["age"] = 31

# Display the updated nested dictionary
nested_dict

{'person1': {'name': 'Alice', 'age': 31, 'city': 'New York'},
 'person2': {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
 'person3': {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}}

In [71]:
# Removing a nested dictionary
del nested_dict["person2"]

# Display the updated nested dictionary
nested_dict

{'person1': {'name': 'Alice', 'age': 31, 'city': 'New York'},
 'person3': {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}}

In [72]:
# Looping through a nested dictionary
for person, details in nested_dict.items():
    print(f"{person}:")
    for key, value in details.items():
        print(f"  {key}: {value}")

person1:
  name: Alice
  age: 31
  city: New York
person3:
  name: Charlie
  age: 35
  city: Chicago

## Sets

Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

Here is a brief demonstration:

In [73]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'pear', 'apple', 'banana', 'orange'}

In [75]:
'purple' in basket                 # fast membership testing

False

In [76]:
a = set('abracadabra')
b = set('alacazam')

In [77]:
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [78]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [79]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [80]:
a & b                              # letters in both a and b

{'a', 'c'}

In [81]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

## Looping Techniques

When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.

In [82]:
for i, v in enumerate(['tic', 'tac', 'toe']):
     print(i, v)

0 tic
1 tac
2 toe

To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [84]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

zip(questions, answers)

In [ ]:
looksLike = 
[
    ['name', 'quest', 'favorite color'],
['lancelot', 'the holy grail', 'blue']
]

In [83]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.

In [85]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

Using set() on a sequence eliminates duplicate elements. The use of sorted() in combination with set() over a sequence is an idiomatic way to loop over unique elements of the sequence in sorted order.

In [88]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear